body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: inline-block;
  width: 100%;
}

input {
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
}
